.DS_Store
*.pyc
*.swp
/.ipynb_checkpoints/
/__pycache__/
/QUEEN/.ipynb_checkpoints/
/demo/test/
/demo/Gateway/
/demo/Moclo/
/demo/tutorial/.ipynb_checkpoints/
/demo/sakata_et_al_2020/.ipynb_checkpoints/
/demo/sakata_et_al_2020/BE_plasmids_construction_v2.ipynb
/demo/sakata_et_al_2020/visualize_BE_plasmids.ipynb
/demo/sakata_et_al_2020/BE_plasmids_construction.ipynb
/demo/sakata_et_al_2020/reconstructed_genbank/
/demo/Weinberg_et_aL_2017/2input_4output_decoder.ipynb
/demo/sakata_et_al_2020/pCMV_Target_ACEmax_construction_v2.1.ipynb
/demo/sakata_et_al_2020/pCMV_ACBEmax_construction_v2.1.ipynb
/demo/Weinberg_et_aL_2017/output/
/QUEEN.egg-info/
/build/
/dist/
